.gf-red{
    background-color: #f4423d!important;
}

.gf-white{
    background-color: #e7e8e6!important;
}

.gf-books{
    background-image: url("../books.jpeg");
    background-repeat:no-repeat;
    background-position: center center;
    height:400px;
}
.gf-ballroom{
    background-image: url("../ballroom.jpg");
}
.white{
    color: white;
}
.gf-grey-color{
    color:#3c3c3c;
}
.gf-picture-text{
    padding: 50px 0;
}
td{
    font-size:  0.9rem;
}

